<IfModule mod_rewrite.c>
  RewriteEngine On

  # Enforce HTTPS
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Handle SPA routing
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault                          "access plus 1 month"
  ExpiresByType text/css                    "access plus 1 year"
  ExpiresByType application/javascript      "access plus 1 year"
  ExpiresByType image/gif                   "access plus 1 year"
  ExpiresByType image/jpeg                  "access plus 1 year"
  ExpiresByType image/png                   "access plus 1 year"
  ExpiresByType image/svg+xml               "access plus 1 year"
  ExpiresByType image/webp                  "access plus 1 year"
</IfModule>

<IfModule mod_headers.c>
  # Enable Brotli/Gzip compression
  <FilesMatch "\.(js|css|html|xml|svg)$">
    Header append Vary: Accept-Encoding
  </FilesMatch>
</IfModule>
